#icon{
   color: #ffffff;
   width: 100%;
   display: flex;
   place-content: center;
   background-color: rgb(0, 204, 255);

}


#cardimage{
    height: 200px;
}
html {
    scroll-behavior: smooth;
  }

a{
    color: white !important;
    background-color: transparent !important;  
  }